Arquivo .gitignore para o projeto iFood TUI em C

1. Arquivos de Compilação

Ignora o executável final e os arquivos "objeto"

*.exe
*.o
*.obj

2. Arquivos de IDE (DevC++)

Ignora o arquivo de projeto e o de layout (posicionamento das janelas)

*.dev
*.layout

3. Arquivos de IDE (Visual Studio)

Ignora a "solução", projetos e pastas de build

*.sln
*.vcxproj
*.vcxproj.filters
*.user
/Debug/
/Release/
/.vs/

4. Arquivos de IDE (VS Code)

Ignora as configurações locais do workspace

/.vscode/

5. Arquivos de Sistema

Ignora arquivos de thumbnail do Windows

Thumbs.db